.quote__container {
  display: grid;
  max-width: 573px;
  min-height: 150px;
  grid-template-areas:
    "text refrech"
    "author author";
  color: #fff;
  margin-bottom: 20rem;
}

.quote-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  grid-area: text;
}

.quote-btn {
  height: 32px;
  width: 32px;
  margin-left: 1rem;
  outline: 0;
  border: 0;
  background: none;
  grid-area: refrech;
}
.disable {
  display: none;
  margin-bottom: 0;
}

.quote-author {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  grid-area: author;
}

@media only screen and (max-width: 768px) {
  .quote__container {
    margin-bottom: 18rem;
  }
}
