.infoclock-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: none;
  grid-template-columns: 1fr 1fr;
  row-gap: 5rem;
  column-gap: 20rem;
  color: #303030;
}

.--active {
  display: grid;
}

.daybg {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(20.3871px);
}
.nightbg {
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(20.3871px);
  color: #fff;
}

.clockinfo-title {
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding-left: 1rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.clockingo-text {
  font-weight: 700;
  font-size: 56px;
  line-height: 68px;
  padding-left: 1rem;
}

@media only screen and (max-width: 768px) {
  .infoclock-container {
    padding-top: 4rem;
    padding-bottom: 4rem;

    row-gap: 3rem;
    column-gap: 1rem;
  }
  .clockinfo-title {
    font-size: 13px;
  }
  .clockingo-text {
    font-size: 25px;
  }
}

@media only screen and (max-width: 375px) {
  .infoclock-container {
    grid-template-columns: 1fr;
    row-gap: 0rem;
    column-gap: 0rem;
    padding: 0rem;
    overflow: hidden;
    padding-top: 1rem;
  }
  .clockinfo-title {
    font-size: 10px;
    padding-left: 1rem;
  }
  .clockingo-text {
    font-size: 20px;
    padding-left: 1rem;
  }
}
