@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  overflow: hidden;
}
.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 5rem 7rem 1rem 7rem;
}

.background {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.day {
  background-image: url("./assets/desktop/bg-image-daytime.jpg");
}

.night {
  background-image: url("./assets/desktop/bg-image-nighttime.jpg");
}

.background::before {
  position: absolute;
  content: "";
  background: rgba(0, 0, 0, 0.4);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}
@media only screen and (max-width: 768px) {
  .container {
    padding: 3rem 3rem 0rem 3rem;
  }
}
